<app-header [userImg]="userProfileImage"></app-header>
<app-banner [bannerTitle]="(bannerDetail$ | async)?.original_title" [bannerOverview]="(bannerDetail$ | async)?.overview" 
            [bannerVideo]="(bannerVideo$ | async)?.results[0].key"></app-banner>
<app-movie-carousel [movieContents]="movies" [title]="'Popular on Netflix'"></app-movie-carousel>
<app-movie-carousel [movieContents]="tvShows" [title]="'Trending TV Shows'"></app-movie-carousel>
<!-- <app-movie-carousel [movieContents]="topRatedMovies" [title]="'Top Rated Movies'"></app-movie-carousel> -->
<!-- <app-movie-carousel [movieContents]="nowPlayingMovies" [title]="'Now Playing Movies'"></app-movie-carousel> -->
<app-movie-carousel [movieContents]="popularMovies" [title]="'Popular Movies'"></app-movie-carousel>
<!-- <app-movie-carousel [movieContents]="upcomingMovies" [title]="'Upcoming Movies'"></app-movie-carousel> --> 

